<div class="row">
    <div class="col-md-12">
    <h1>Bienvenido al chat <%= user.name %>!</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <ul id="chat-box">
            <!-- Aquí irán los mensajes del chat -->
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
    <form id="chat-form">
        <div class="form-group">
            <input type="text" class="form-control" id="message" name="message" placeholder="Escribe un mensaje...">
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
    </div>
</div>
  