<%- include('./components/Head', { title: "Chat en Vivo" }) %>
  <body>
    <div class="container">
        <%- include('components/MessagesForm') %>    
    </div>
    
    <%- include('scripts/messageHandler') %>
<%- include('components/Footer') %>
  
