<%- include('./components/Head', { title: "Title of Page" }) %>
  <body>
    <div class="container">
      <%- include('components/RegisterForm') %>
    </div>

    <%- include('scripts/userPost') %>    
<%- include('components/Footer') %>
  
